<main>
    <header class="header">
        <div class="greeting">
            Bem vindo de volta, {{ User }}.<br>
            <span class="date">Hoje, {{ CurrentDate }}.</span>
        </div>
        <div class="icons">
            <span class="icon">
                <span class="material-symbols-outlined">
                    notifications
                </span>
            </span> 
            <span class="icon">
                <span class="material-symbols-outlined">
                    mail
                </span>
            </span>
            <span class="icon">
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </span>
        </div>
        <div class="user-menu">
            <span class="material-symbols-outlined">
                stat_minus_1
                </span>
            <span class="user-name">cesarcaus</span>
            <img src="../../../assets/icons/Male User.svg" alt="Icone de User"/>
        </div>
    </header>    
</main>